In [1]:
import pandas as pd 
from pymongo import MongoClient
import certifi
from  dotenv import load_dotenv

In [2]:
import os 
load_dotenv()
DATABASE_URL = os.getenv("DATABASE_URL") # load from .env file
DATABASE_NAME = "wineData"
COLLECTION_NAME = "wineCollection"

In [3]:
# connect to the database
client = MongoClient(DATABASE_URL , tlsCAFile = certifi.where())

In [4]:
# create the database
database = client[DATABASE_NAME]
# create the collection
collection = database[COLLECTION_NAME]

In [5]:
# get all data from the database
data_list = list(collection.find())
len(data_list)

6497

In [6]:
df = pd.DataFrame(data_list)
df.head()

,_id,wine type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,68afcc53c87d04415342d4fb,white,6.0,0.180,0.31,1.4,0.036,14.0,75.0,0.99085,3.34,0.58,11.1,8
1,68afcc53c87d04415342d4fc,white,5.3,0.395,0.07,1.3,0.035,26.0,102.0,0.99200,3.50,0.35,10.6,6
2,68afcc53c87d04415342d4fd,red,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.99680,3.11,1.28,9.3,5
3,68afcc53c87d04415342d4fe,white,6.4,0.220,0.34,1.4,0.023,56.0,115.0,0.98958,3.18,0.70,11.7,6
4,68afcc53c87d04415342d4ff,red,9.4,0.270,0.53,2.4,0.074,6.0,18.0,0.99620,3.20,1.13,12.0,7